@import url('reset.css');
@import url('variables.css');

body {
  background-color: var(--blue);
  overflow-x: hidden;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.93);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade-out {
  animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 30px 0;
  background: rgba(33, 71, 97, 0.6);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.nav_link {
  transition: 0.5s ease all;
}
.nav_link:hover,
.nav_link.active {
  color: var(--gold);
  transition: 0.5s ease all;
}

.nav_link_home:hover,
.nav_link_home.active {
  color: var(--gold);
  transition: 0.5s ease all;
}

.section h1 {
  font-size: 28px;
}

.section h1 span {
  color: var(--gold);
}

.nav-link {
  font-size: 20px;
  line-height: 1.25;
}

.section {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex: 0 0 auto;
  align-items: center;
}

.section-headings {
  margin: 30px 0 40px;
}

.scroll-wrapper {
  overflow-x: hidden;
  position: relative;
}

.scroll-container {
  display: flex;
  width: 300vw;
}

.section-heading-wrap {
  overflow: hidden;
}

.section-heading {
  transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
}

.section-heading h2 {
  font-size: 60px;
  line-height: 1.25;
}

.section-heading.active {
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.section-heading--sh2.active {
  transition-delay: 0.5s;
}

.home-section__content {
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform ease;
  transform: translate3d(0%, 0, 0);
}

.photo {
  position: absolute;
  z-index: -1;
  right: -20%;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://assets.website-files.com/620b9905625d854121b66d1e/62690dfd694ab12a66fa4d7e_photo-artem-new.png);
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform ease;
  transform: translate3d(0%, 0, 0);
  transform-style: preserve-3d;
  will-change: transform;
}

.video-container {
  position: relative;
  max-width: 600px;
  width: 100%;
}
.video-container img {
  display: block;
  width: 100%;
  height: auto;
}
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.about-container {
  display: flex;
  justify-content: space-between;
}

/* PORTFOLIO */
.portfolio_section {
  min-height: 100vh;
  height: 100%;
  padding-top: 85px;
}
.portfolio_section .container {
  display: flex;
  flex-direction: column;
  gap: 150px;
  padding-bottom: 100px;
}

.portfolio_section_heading {
  position: relative;
  margin-bottom: 90px;
  padding-bottom: 15px;
}

.portfolio_section_heading h2 {
  display: flex;
  gap: 30px;
  align-items: center;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 20px;
}

.portfolio_section_heading h2 span {
  font-size: 25px;
  color: var(--gold);
}

.portfolio_line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: var(--white-80);
}

.portfolio_section-wrap {
  display: grid;
  width: 100%;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.portfolio_section-itm {
  width: 100%;
  height: 350px;
}

.portfolio_section-top-wrap {
  position: relative;
  border: 1px solid var(--white-80);
  border-radius: 2px;
  margin-bottom: 15px;
}

.portfolio__slide-browser {
  position: relative;
  z-index: 99;
  width: 100%;
  height: 32px;
}

.portfolio__slide-browser-half {
  position: relative;
  z-index: 99;
  display: flex;
  height: 50%;
  padding-left: 6px;
  align-items: center;
  border-bottom: 1px solid var(--white-80);
}

.browser__circle {
  width: 5px;
  height: 5px;
  margin-right: 3px;
  flex: 0 0 auto;
  border: 1px solid var(--white-80);
  border-radius: 50%;
}

.browser__tab-wrap {
  display: flex;
  height: 100%;
  align-items: flex-end;
}

.browser__tab {
  display: flex;
  width: 140px;
  height: 75%;
  margin-left: 0.5px;
  justify-content: flex-end;
  border-style: solid solid none;
  border-width: 1px;
  border-color: var(--white-80);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.browser__tab-close-wrap {
  position: relative;
  display: flex;
  width: 6px;
  margin-right: 5px;
  align-items: center;
}

.browser__close-line {
  position: absolute;
  background-color: var(--white-80);
  transform: rotate(45deg);
  width: 6px;
  height: 0.5px;
}

.browser__close-line.second {
  transform: rotate(-45deg);
}

.browser__plus-wrap {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
}

.browser__plus {
  position: relative;
  display: flex;
  height: 75%;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
}

.browser__plus-line {
  position: absolute;
  flex: 0 0 auto;
  background-color: var(--white-80);
  width: 4px;
  height: 0.5px;
}

.browser__plus-line.second {
  transform: rotate(90deg);
}

/* BROWSER BOTTOM */
.browser__arrow-wrap {
  position: relative;
  display: flex;
  height: 100%;
  margin-right: 9px;
  align-items: center;
}

.browser__arrow-line {
  width: 5px;
  height: 1px;
  flex: 0 0 auto;
  background-color: var(--white-80);
}

.browser__arrow-line.arrow {
  position: absolute;
  width: 2.5px;
  height: 2.5px;
  border-bottom: 1px solid var(--white-80);
  border-left: 1px solid var(--white-80);
  background-color: transparent;
  transform: rotate(45deg);
}

.browser__arrow-wrap.right {
  transform: rotate(180deg);
}

.browser__reload-wrap {
  position: relative;
  display: flex;
  height: 100%;
  margin-right: 10px;
  align-items: center;
}

.browser__reload {
  width: 3.5px;
  height: 3.5px;
  flex: 0 0 auto;
  border: 1px solid var(--white-80);
  border-radius: 50%;
}

.browser__reload-rectangle {
  position: absolute;
  right: 0;
  width: 3.5px;
  height: 2px;
  background-color: var(--blue);
}

.browser__adress-bar {
  position: relative;
  display: flex;
  max-width: 300px;
  width: 100%;
  height: 9px;
  justify-content: flex-end;
  border: 1px solid var(--white-80);
  border-radius: 18px;
}

.browser__bookmark-wrap {
  display: flex;
  height: 100%;
  margin-right: 5px;
  align-items: center;
}

.browser__star {
  width: 6px;
}

.browser__settings-wrap {
  position: absolute;
  right: 13px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.browser__settings-dot {
  width: 1px;
  height: 1px;
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  background-color: var(--white-80);
}

/* BROWSER BOTTOM END */
/* BROWSER WINDOW */
.portfolio__slide-img-wrap {
  overflow: hidden;
  width: 100%;
  height: 265px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.slide-img {
  width: 100%;
  min-height: 100%;
}

.slide__img-placeholder {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--white-80);
}

.portfolio__slide-overflow {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  opacity: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: var(--blue80);
}

.portfolio__slide-overflow-content {
  position: relative;
  z-index: 1;
  display: flex;
  grid-column-gap: 14px;
}

.portfolio__slide-overflow-btn {
  display: flex;
  overflow: hidden;
  width: 17px;
  height: 17px;
  padding: 20px;
  border: 4px solid var(--white);
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.2);
  color: var(--blue);
  text-decoration: none;
  opacity: 0;
  transition: 0.5s ease all;
  transform: translate3d(0px, 0px, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;

  justify-content: center;
  align-items: center;
}

.portfolio__slide-overflow-btn.is--second {
  transition: 0.5s ease all 0.25s;
}

.slide-img {
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  will-change: transform;
  transition: 3s ease all;
}

.portfolio_section-itm:hover .slide-img {
  transition: 3s ease all;
  transform: translate3d(0px, -60%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.portfolio_section-itm:hover .portfolio__slide-overflow {
  opacity: 1;
  transition: 1s ease all;
}

.portfolio_section-itm:hover .portfolio__slide-overflow-btn {
  opacity: 1;
  transition: 0.5s ease all;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.portfolio_section-itm:hover .portfolio__slide-overflow-btn.is--second {
  transition: 0.5s ease all 0.25s;
}

.portfolio__slide-overflow-btn:hover,
.portfolio__slide-overflow-btn:active {
  background-color: var(--blue80);
}

.h4.portfolio {
  font-size: 15px;
  line-height: 1.5;
}

.portfolio__slide-p-wrap {
  margin-bottom: 12px;
  color: var(--white-80);
  font-size: 11px;
  line-height: 1;
}

.w-embed:after,
.w-embed:before {
  content: ' ';
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.portfolio__slide-show-project {
  display: flex;
  align-items: center;
  font-size: 0.13px;
  font-weight: 900;
}

.portfolio__show-project-text {
  font-size: 8px;
}

.w-condition-invisible,
.w-dyn-bind-empty,
.w-dyn-hide {
  display: none !important;
}

.show-project__arrow-wrap {
  position: relative;
  display: flex;
  height: 100%;
  margin-left: 5px;
  justify-content: flex-end;
  align-items: center;
  transform: translate3d(0em, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: 0.5s ease all;
  will-change: transform;
}

.portfolio__slide-show-project:hover .show-project__arrow-wrap {
  will-change: transform;
  transform: translate3d(5px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transition: 0.5s ease all;
}

.show-project__arrow-line {
  width: 5px;
  height: 1px;
  flex: 0 0 auto;
  background-color: #fff;
}

.show-project__arrow {
  position: absolute;
  right: 0;
  width: 3px;
  height: 3px;
  flex: 0 0 auto;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
}

.letswork {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease all;
}

.letswork:hover {
  transition: 0.4s ease all;
  color: var(--gold);
}

/* BROWSER WINDOW END */
/* PORTFOLIO END */

.button__wrap {
  position: relative;
  display: flex;
  width: 150px;
  align-items: center;
}

.button {
  position: relative;
  z-index: 99;
  display: flex;
  width: 100%;
  height: 4.17em;
  padding: 0.26em;
  justify-content: center;
  align-items: center;
  color: #06111d;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
}

.button__bg {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 3.65em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-clip-path: polygon(0% 0, 100% 0, 100% 91%, 98% 100%, 0 100%);
  clip-path: polygon(0% 0, 100% 0, 100% 91%, 98% 100%, 0 100%);
}

.button__text {
  color: rgb(6, 17, 29);
  font-size: 23px;
  transition: 0.4s ease all;
}

.button__hover-fill {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  position: absolute;
  z-index: -1;
  width: 13em;
  height: 13em;
  border-radius: 50%;
  background-color: var(--gold);
  transition: 0.3s ease all;
}

.button__top-border {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  width: 100%;
  height: 1.8130208333333335em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-top: 1px solid hsla(0, 0%, 100%, 0.5);
  border-right: 1px solid hsla(0, 0%, 100%, 0.5);
  border-left: 1px solid hsla(0, 0%, 100%, 0.5);
}

.button__bot-border {
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1.8130208333333335em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-right: 1px solid hsla(0, 0%, 100%, 0.5);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
  border-left: 1px solid hsla(0, 0%, 100%, 0.5);
}

.section__mission {
  margin-bottom: 30px;
}

.button__wrap:hover .button__text {
  color: var(--white);
  transition: 0.3s ease all;
}

.button__wrap:hover .button__hover-fill {
  transform: translate3d(0px, 0px, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: 0.3s ease all;
}

/* CONTACT */
.contact_section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  /*max-width: 100em;*/
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.contact__bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /*max-width: 100em;*/
}

.contact__bg-solid-move {
  will-change: transform;
  transform: translate3d(99.833%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  /*max-width: 100em;*/
  background-color: #06111d;
}

.contact__bg-solid {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -99;
  width: 100%;
  height: 100%;
  /*max-width: 100em;*/
  background-color: #030a10;
}

.contact__bg-text-mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /*max-width: 100em;*/
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.contact__bg-text-wrap {
  will-change: transform;
  transform: translate3d(-30.9975%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  animation: marquee linear infinite;

  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.06em #6a7077;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 32.55208333333333em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
}

.contact__bg-text-inner-wrap {
  padding-right: 8em;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.contact__bg-text {
  font-size: 31em;
  text-align: center;
}

.html__embed {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
}

.w-embed:after,
.w-embed:before {
  content: ' ';
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-embed:after {
  clear: both;
}

.contact__content-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact__text-wrap {
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5625em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact__h1-wrap {
  margin-bottom: 0.825em;
  text-align: center;
}

.contact__mail-outer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2.3em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.contact__mail-icon-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2.9166666666666665em;
  margin-right: 1.4583333333333333em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact__mail-text-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-bottom: 0.26em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.875em;
  line-height: 1;
  font-weight: 300;
}

.contact__img {
  width: 100%;
}

.h__inner-div {
  overflow: hidden;
}

.h1-style {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.75em;
  line-height: 1.2;
  text-transform: uppercase;

  display: inline-flex;
  gap: 5px;
}

.contact__mail-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  will-change: transform;
  transform: translate3d(0em, 0em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.contact__mail-inner-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transform-style: preserve-3d;
  will-change: transform;
  transform: translate3d(0.00036em, -0.00036em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.svg_mail_1 {
  transition: 0.1s ease all;
  transform: matrix(1, 0, 0, 0.000007836100849090144, 3.25, 20.12485122680664);
}

.svg_mail_2 {
  transition: 0.1s ease all;
  transform: matrix(0.0000078361, 0, 0, 0.0000078361, 25.249828338623047, 39.749847412109375);
}

.contact__mail-inner-wrap:hover .svg_mail_1 {
  transition: 0.1s ease all;
  transform: matrix(1, 0, 0, 0.999998, 3.25, 1.12504);
}

.contact__mail-inner-wrap:hover .svg_mail_2 {
  transition: 0.1s ease all;
  transform: matrix(0.999998, 0, 0, 0.999998, 3.25004, 20.25);
}
.contact__mail-underline {
  transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0.1em;
  background-color: #fff;
  transition: 0.4s ease all;
}
.contact__mail-inner-wrap:hover .contact__mail-underline {
  transform-style: preserve-3d;
  transform: translate3d(100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transition: 0.4s ease all;
}
.letter-jump.active {
  animation: balance 1.5s ease-out;
  transform-origin: bottom right;
}
@keyframes balance {
  0%,
  100% {
    transform: rotate(0deg);
  }

  30%,
  60% {
    transform: rotate(45deg);
  }
}
/* CONTACT END */

/* FOOTER */
footer {
  z-index: 99;
  max-width: 100vw;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 30px;

  opacity: 0;
  transform: translateY(300%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.social-itm {
  width: 45px;
  display: flex;
  background-color: var(--white-20);
  padding: 10px;
  border-radius: 3px;
  transition: 0.5s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
}

.social_ico {
  width: 25px;
  height: 25px;
  transition: 0.3s ease-in-out;
}

.social_ico svg {
  fill: var(--white);
}

.social_nick {
  display: none;
  align-items: center;
  justify-content: center;
  color: var(--blue);
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  white-space: nowrap;
  transition: opacity 0.3s ease-in-out;
}

.social-itm:hover {
  background-color: var(--white);
  transition: 0.5s ease-in-out;
}
#insta-social:hover {
  width: 169px;
  transition: 0.5s ease-in-out;
}
#telegram-social:hover {
  width: 113px;
  transition: 0.5s ease-in-out;
}
#facebook-social:hover {
  width: 170px;
  transition: 0.5s ease-in-out;
}
#whatsapp-social:hover {
  width: 128px;
  transition: 0.5s ease-in-out;
}
.social-itm:hover .social_ico {
  display: none;
}

.social-itm:hover .social_nick {
  display: flex;
}

@media (max-width: 500px) {
  footer {
    position: static;
    padding-bottom: 20px;
    opacity: 1 !important;
  }
}

/* FOOTER END */

@media (max-width: 1300px) {
  .portfolio_section-wrap {
    grid-template-columns: 1fr 1fr;
  }
  .portfolio_section-itm {
    height: 430px;
  }
  .portfolio__slide-img-wrap {
    height: 355px;
  }
}
@media (max-width: 1200px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }
  .video-container {
    margin-top: 20px;
  }
  .about_section {
    margin-bottom: 30px;
  }
  .photo {
    display: none;
  }
  .home-section__content,
  .about-section__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .section-heading h2 {
    font-size: 40px;
  }
  .h1-style {
    font-size: 45px;
  }
}
@media (max-width: 600px) {
  .portfolio_section-wrap {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .section-heading h2 {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .scroll-container {
    width: auto;
    flex-direction: column;
  }
}
