.nav {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  align-items: center;
}
.navItem {
  list-style: none;
}
.link {
  text-decoration: none;
  padding: 15px 0;
  font-size: clamp(1.2rem, 0.7rem + 3.68vw, 2.5rem);
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
}
.socialButton {
  height: 30px;
  width: 40px;
  border: none;
  background: no-repeat;
  cursor: pointer;
}
.socialIcon {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
