.title{
  font-size: clamp(2.5rem, 0.7rem + 7.68vw, 5.5rem);
  letter-spacing: -0.028em;
  padding-right: 25%;
}
.profilePhoto{
  width: 42vw;
  max-width: 445px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}