.container {
  max-width: 1280px;
  margin: 0 auto;
 
  text-align: center;
}
body {
  font-family: "Space Grotesk", sans-serif;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}
